name: pyficache (macos)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        os: [macOS]
        python-version: ['3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        # Until the next xdis release
        pip install --local -e "git+https://github.com/rocky/python-xdis.git#egg=xdis"
        python -m pip install --upgrade pip
        pip install -e .[dev]
    - name: Test pyficache
      run: |
        make check
